*{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  text-align: center;
  padding: 20px 10px;
  background-color: #00004e;
}

body h1{
  text-transform: uppercase;
  color: orange;
  margin: 0 0 20px 0;
}

section {
  display: flex;
}

section > div {
  flex: 1;
  margin: 20px;
}

.input-group {
  display: flex;
  flex-direction: column;
}

.submit {
  margin: 10px auto;
  width: 100%;
  padding: 2px;
}
.todo-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

button {
  margin: 2px;
}

li::before {
  content: ">";
}


.form , .list_items{
  height: auto;
  padding: 20px;
  text-align: center;
  border: none;
  border-radius: 15px;
  background-color: #ededed;
  
}

input[type=text] ,input[type=submit]{
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin: 10px 0;

}

label{
  text-align: start;
}

input[type=submit]{
 background-color: #00004e;
 color: orange;
 font-weight: 600;


}

input:focus{
  outline: none;
}
